{% extends 'layout.html' %}

{% block content %}
<div class="container card p-1">
    <h1>Monogatari Collection - коллекция историй</h1>
    <p>Сайт для ознакомительного прочтения ранобе - вида японской литературы.</p>
    <p>Ранобе — разновидность популярной японской литературы различных жанров, отличающаяся преимущественно фантазийным сюжетом, обилием диалогов, иллюстрациями в стиле аниме и манги и ориентированная в основном на подростковую и юношескую аудиторию.</p>
    <hr>
    <p>Проект выполнен студентами группы SE-2003 в рамках Coding Lab в Astana IT University.</p>
    <p>Азат Серикбаев - фронтенд.</p>
    <p>Имран Хайдер - бэкенд.</p>
</div>
{% endblock %}