{% extends "layout.html" %}

{% block content %}
<div class="container gap-1 flex flex-column">
    {{ include('carousel.html', {'name': 'Популярное', data: popular }) }}

    {{ include('carousel.html', {'name': 'Недавнее', data: recent }) }}
</div>
{% endblock %}
