<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'header.html' %}
</head>

<body>
{% include 'drawer.html' %}
<div class="wrapper">
    {% if user is null %}
        {% include 'topbar.html' %}
    {% else %}
        {% include 'topbar.html' with {user} %}
    {% endif %}
    <div class="content-wrapper {{ theme ?? 'light' }}">
        {% block content %}{% endblock %}
        {% include 'footer.html' %}
    </div>
</div>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
